body {
	background-color: #F6F6F6 !important;
}
article {
	background-color: #fff;
	margin-bottom: 20px;
}
span {
	color: #6c6c6c;
}
.copywriting {
	padding-top: 100px;
}
.header {
	padding-top: 10px;
	height:100px;	
	/*display:inline-block;
		vertical-align:middle;*/
		
}
.header span {
	color: #DA192C ;
	text-align:center;
}
.section {
	font-style:oblique;
	font-size: 42px;
	height: 50px;
	text-align:center;
	line-height:50px;
}
.title {
	padding-top: 10px;
}
.span {
	padding-top: 50px;
}
.span span{
	display:block;
	margin-top:5px; 
}